.custom-navbar {
  background: rgba(255, 255, 255, 0.15) !important;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

body {
  overflow-x: hidden;
  background: #ffffff;
  min-height: 100vh;
}

.custom-navbar .nav-link {
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.hero {
  background-image: url('mayon.jpg');
  background-size: cover;
  background-position: center;
  min-height: 140vh;
  position: relative;
  display: flex;
  align-items: center;
  color: white;
}
